
<h1 class="m-5 text-[18px]  font-bold text-center w-auto md:text-2xl">
    DESAFIO #25 <br> FRONTEND MENTOR | TARJETA DE RESULTADOS DE PUNTAJES. 
</h1>

<section class="mt-2 w-[375px] mx-auto mb-10 shadow-lg shadow-Darkgrayblue-alpha bg-white
        <!-- responsive -->
        md:flex md:mt-6 md:pl-8 md:w-[740px] md:h-[512px] md:rounded-3xl md:items-center md:justify-center
">
    <!-- Parte Azul -->
    <div class="bg-gradient-to-b from-light-slate-blue to-light-royal-blue
        h-[356px] pt-8 px-10 text-center rounded-b-3xl
        <!-- responsive -->
        md:w-[370px] md-h-full md:rounded-3xl  
    ">
        <h2 class="mb-6 text-light-lavender text-[18px] md:text-2xl">Your Result</h2>
        <div class="bg-gradient-to-t from-light-slate-blue to-light-royal-blue
            rounded-full h-[140px] w-[140px] mx-auto grid  place-content-center mb-6 text-[18px]
        ">
            <p class="text-white text-4xl font-bold text-center">76</p>
            <p class="text-light-lavender text-2xl">of 100</p>
        </div>
        <p class="text-white text-[18px] md:text-2xl" >Great</p>
        <p class="text-light-lavender mt-2 mb-6 font-bold">You scored higher than 65% of the peple who have taken tests</p>
    </div>

    <!-- Parte Blanca -->
     <div class="p-8 h-[454px] md:w-[370px]">
        <h2 class="text-[18px] font-bold mb-6 md:text-2xl md:p-2 md:mb-3">Summary</h2>
        <div class="bg-Lightred-alpha flex place-content-between p-3 rounded-lg mb-4 h-[54px] items-center">
            <p class="flex gab-3 text-Lightred">
                <img src="/src/assets/img/icon-reaction.svg" alt="Resultado de Redacción">
                <span class="ml-2">Redacción</span>
                <p>80<span class="text-Darkgrayblue-alpha">/100</span></p>
            </p>
        </div>
        <div class="bg-OrangeYellow-alpha flex place-content-between p-3 rounded-lg mb-3 h-[54px] items-center">
            <p class="flex gab-3 text-OrangeYellow">
                <img src="/src/assets/img/icon-memory.svg" alt="Resultado de Memoria">
                <span class="ml-2">Memoria</span>
                <p>92<span class="text-Darkgrayblue-alpha">/100</span></p>
            </p>
        </div>
        <div class="bg-Greenteal-alpha flex place-content-between p-3 rounded-lg mb-4 h-[54px] items-center">
            <p class="flex gab-3 text-Greenteal">
                <img src="/src/assets/img/icon-verbal.svg" alt="Resultado de Verbal">
                <span class="ml-2">Verbal</span>
                <p>61<span class="text-Darkgrayblue-alpha">/100</span></p>
            </p>
        </div>
        <div class="bg-Cobaltblue-alpha flex place-content-between p-3 rounded-lg mb-4 h-[54px] items-center">
            <p class="flex gab-3 text-Cobaltblue">
                <img src="/src/assets/img/icon-visual.svg" alt="Resultado de Visual">
                <span class="ml-2">Visual</span>
                <p>72<span class="text-Darkgrayblue-alpha">/100</span></p>
            </p>
        </div>

        <button class="bg-Darkgrayblue text-white w-full
        h-14 rounded-3xl text-[18px] hover:bg-gradient-to-b from-light-slate-blue to-light-royal-blue
        
        ">Continuar</button>

     </div>

     
</section>

<footer>
    <div class="text-center">
        Challeng by 
        <a href="https://www.frontendmentor.io?ref=challege"   
            class="text-violet-blue font-bold" target="_blank">Frontend Mentor
        </a>
        Code by 
        <a  href="#" 
            class="text-violet-blue font-bold">
        Josué FP Pérez
        </a>

    </div>
</footer>